<!-- <input type="text" [(ngModel)]="persona">
<button (click)="addItem(persona)">Add Item</button>

<div [ngSwitch]="persona"> 
  <p *ngSwitchCase="'nicolas'">Este es nicolás</p>
  <p *ngSwitchCase="'julian'">Este es julian</p>
  <p *ngSwitchCase="'Camilo'">Este es julian</p>
  <p *ngSwitchDefault>No hay match</p>
</div>
<input type="text" [ngModel]="power"/>
{{power|exponential}}
<ul>
  <li *ngIf="items.length===0">Lista vacía</li>
  <li *ngFor="let persona of items; index as i">
    <h5>{{persona}}    {{i}}</h5>
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>  -->
