/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    padding: 0;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr)); //nos hace breakpoints cada 300px

}